In [1]:
import pandas as pd
import numpy as np

# **Fundamental** Dataframes

Dataframe adalah kumpulan Series dan Series sama dengan NumPy Array 1 Dimensi  
Lalu **apakah kita bisa membuat Dataframes dari NumPy Array**?

In [2]:
array_a = np.array([[3, 2, 1], [6, 3, 2]])
array_a

array([[3, 2, 1],
       [6, 3, 2]])

In [3]:
pd.DataFrame(array_a)

   0  1  2
0  3  2  1
1  6  3  2

Jawabannya adalah **BISA!**  
Lihat ***array_a*** yang sebelumnya NumPy 2 Dimensi menjadi Pandas Dataframe

In [4]:
type(pd.DataFrame(array_a))

pandas.core.frame.DataFrame

## **Nama** Columns dan Index

Untuk memberi nama pada columns dan indexnya caranya sangat mudah

In [5]:
df = pd.DataFrame(array_a, columns = ['Column 1', 'Column 2', 'Column 3'], index = ['Row 1', 'Row 2'])
df

       Column 1  Column 2  Column 3
Row 1         3         2         1
Row 2         6         3         2

## **Membaca** File .csv

Praktik yang umum digunakan oleh Data Analis adalah membaca file .csv dengan **pd.read_csv**  
Kemudian menentukan kolom mana yang akan dijadikan index dengan **index_col**  
dan menampilkan lima baris pertama dari dataset dengan **.head()**

In [6]:
data = pd.read_csv('Lending-Company.csv', index_col = 'LoanID')
lending_co_data = data.copy()
lending_co_data.head()

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [7]:
type(lending_co_data)

pandas.core.frame.DataFrame

# **Attribute** Dataframe